body {
    font-size: 15pt;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
nav{
  position: sticky;
  background: #444444;
  height: 80px;
  top: 0px;
  width: 100%;
  margin: 0px;
  margin-right: -10px;
}
.dimg{
  width: 30%;
}
nav ul{
  
  position: relative;
  float: right;
  right: 25px;
  /*display: inline-block;*/
}
nav ul li{
  display: inline-block;
  margin: 0 15px;
}
nav ul li a{
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
  line-height: 40px;
  font-size: 18px;
  text-transform: uppercase;
}
nav h1{
  box-shadow: 5px 5px 5px black;
  position: absolute;
  /*top: 0px;*/
  font-family:  'Times New Roman', Times, serif;
  left: 12%;
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
  font-size: 35px;
  line-height: 15px;
}
  h2{
    margin: 10px;
    text-align: center;
  }
label #btn,
label #cancel{
  color: whitesmoke;
  font-size: 25px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
#subjects button{
  /*border: 5px outset #444444;
  padding: 10px;*/
  display: block;
  font-size: 20px;
  color: #181d24;
  background-color: #78ad98;
  font-weight: bold;
  box-shadow: 7px 7px 7px black;
  border: 5px outset #444444;
  height: 80px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  width: 95%;
  margin-left: 10px;
  /*line-height: 50px;
  text-decoration: none;
  border-radius: 10px;*/
}
/*img{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}*/
img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px grey;
}
hr{
  width: 300px;
}
.pp{
  background-color: honeydew;
  font-size: 10px;
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  text-align: center;
}
@media(max-width: 1118px){
  nav h1{
    left: 8%;
  }
}
@media(max-width: 944px){
  nav h1{
    left: 6%;
  }
  nav ul li a{
    font-size: 17px;
  }
}

@media(max-width: 860px){
 /* img{
    width: 75%;
  }*/
  nav h1{
    font-size: 30px;
  }
  label #btn{
    display: block;
  }
  nav{
    margin: 0px;
    background-color: burlywood;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: -5px;
    top :80px;
    left: -120%;
    text-align: center;
    background: #22184a;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    margin-left: -30px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 17px;
    /*margin-left: -5px;*/
  }
  #check:checked~ul{
    left: -25px;
  }
    #check:checked~label #btn{
    display: none; 
  }
    #check:checked~label #cancel{
      display: block;
    }
 #subjects button{
  padding: 10px;
  font-size: 15px;
}
/*#subjects #one{
  line-height: 25px;
}*/
img{
  width: 100%;
  align-self: center;
  
}
hr{
  width: 200px;
}
.dimg{
  width: 50%;
}

img{
  width: 100%;
}
#img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px grey;
}
/*form #sear{
  font-size: 15px;
  height: 32px;
  line-height: 30px;
}
form #searchbox{
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-right: -4px;
}*/
}