<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="substyle.css">
</head>

<body>
  
  <div id="backbar">
  <a href="subjects.html" id="backlink" ><img src="/pics/PngItem_2022781.png" alt="" id="back">subjects</a>
  </div>
  <div class="foreach">
      <img src="/pics/pdf-icon-png-2056.png" alt="" id="" class="iimg file">
      <span></span>
      <div>
        
      </div class="format">
      <a href="" class="down">download<img src="/pics/download.png" alt="" class="iimg downimg" id="">
      </a>
      </div>
  </div>

  <script src="main.js"></script>
   <script>
    document.addEventListener("DOMContentLoaded", function() {
      uploadFiles();
    });
  </script>
</body>

</html>